/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Chess";
  src: url("/fonts/TT_CHEQ.eot?") format("eot"),
    url("/fonts/TT_CHEQ.woff") format("woff"),
    url("/fonts/TT_CHEQ.ttf") format("truetype"),
    url("/fonts/TT_CHEQ.svg#") format("svg");
  font-weight: normal;
  font-style: normal;
}

.gutter-example {
  margin-top: 20px;
}

.card-chess {
  margin: 0 auto;
}

.chess-right {
  float: right;
}

.ant-btn-primary {
  color: #fff;
  background-color: #595959;
  border-color: #1890ff;
}
